h1 {
    text-align: center;
    margin: 50px;
}

.form-btn {
    position: absolute;
    width: 300px;
    top: 80px;
    left: 630px;
    background: #04086B;
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    -webkit-box-shadow: 0px 1px 22px #3498db;
    /*#cc1a1a*/
    -moz-box-shadow: 0px 1px 22px #3498db;
    box-shadow: 0px 1px 22px #3498db;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.form-btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}

table {
    position: absolute;
    top: 150px;
    left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: #3498db;
    text-align: center;
}

table td,
#orders th {
    border: 1px solid #ddd;
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.post-control-btn1 {
    border-radius: 28px;
    box-shadow: 0px 2px 3px #666666;
    font-family: Arial;
    color: black;
    font-size: 10px;
    font: bold 20px;
    ;
    background: #28c728;
    padding: 10px 18px 10px 20px;
    text-decoration: none;
    border-color: #28c728;
}

.post-control-btn1:hover {
    background: #12fc0a;
    text-decoration: none;
}

.post-control-btn2 {
    border-radius: 28px;
    box-shadow: 0px 2px 3px #666666;
    font-family: Arial;
    color: black;
    font-size: 10px;
    background: red;
    padding: 10px 18px 10px 20px;
    text-decoration: none;
    border-color: red;
}

.post-control-btn2:hover {
    background: #e35858;
    text-decoration: none;
}