.home-btn{
	background-color: #00BFFF;
	color: aliceblue;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 20%;
	transition: .2s all;

}

.home-btn:hover{
	background-color: rgb(36, 105, 110);
	border-radius: 5px;
}

.form-btn {
	background-color: #00BFFF;
	color: aliceblue;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	transition: .2s all;

}
.form-btn:hover{
	background-color: rgb(36, 105, 110);
	border-radius: 5px;
}
