.msg-flash{
  background-color: rgb(255, 251, 232);
  color: rgb(82, 67, 0);
  padding: 20px 0;
  border: 1px solid rgb(158, 132, 0);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;

}
