*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg{
  position: relative;
  display: grid;
  height: 100%;
}
/* navigation bar */  
.navbar{
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #04086B;
}

.img-logo {
  position: relative;
  width: 130px;
  height: 130px;
  top: -15px;
}

.topmenu{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.topmenu ul {
  float: right;
  width: 100%;
  text-align: right;
  margin-top: -160px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.topmenu ul li {
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
  margin: 0px 20px;
  list-style: none;

}

.topmenu ul li a {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  padding: 10px;
}

.topmenu ul li a:hover{
  color: silver;
}
/* home section */
#section1{
  height: 800px;
  background: lightcoral;
  display: inline-block;
  width: 100%x;
}

#section1 .img-bg{
  
  width: 100%;
 height: 700px;
  margin: auto;
  display: block;
  margin-top: 100px;
  z-index: -1;
}

#section1 h1{
  color: black;
  position: absolute;
  top: 40vh;
  left: 25vw;
  font-size: 60px;
  animation: animate 2s 1;
 
}

@keyframes animate{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

/* about section */
#section2{
  height: 800px;
  background: #00bfff;
  display: inline-block;
  width: 100%;
 
}


.img-ab{
  height: 500px;
  width: 600px;
margin-top:120px;
}
.about-text{
width: 550px;
margin-top: 30px;

}


.about-text h5{
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin: 30px;
  letter-spacing: 2px;
  justify-content: center;
}

span{
  color: #04086B;
}

.about-text p{
 
  color: black;
  font-size: 18px;
 line-height: 20px;
  margin: 30px;
  letter-spacing: 3px;
  
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.about{
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;


}

/* products section */
#section3{
  height: 800px;
  display: inline-block;
  width: 100%;
}
#section3 h1{
  margin-top: 30px;
 
}
h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}

a{
  text-decoration: none;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}

.content{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  transition: .4s;
  background: white;
}
.content:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px,8px);
}

.img-content{
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

#section3 p{
  text-align: center;
  color:#b2bec3;
  padding-top: 0 8px;
}



h6{
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}

ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  padding-top: 5px;

}

.fa{
  font-size: 26px;
  transition: .4s;
  margin: 5px;
}

.checked{
  color: #ff9f43;
}

.fa:hover{
transform: scale(1.3);
transition: .6s;
}



.buy{
  background:#04086B;
  font-size: 16px;
}



button{
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
/* contact us section */
#section4{
  height: 700px;
  background-color: #00bfff;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.title h2{
  color: #fff;
  font-weight: 500;
}
.form{
  grid-area: form;
}
.info{
  grid-area: info;
}
.map{
  grid-area: map;
}
.contact{
  /* padding:40px; */
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.contact h3{
  color: #04086B;
}
.box{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: 
  "form info"
  "form map";
  grid-gap: 20px;
  padding: 20px;
  background-color: #00bfff;
}
.box h3{
 font-size: 20px;
 margin: 15px;
}
.formBox{
  position: relative;
width: 100%

}

.formBox .row50{
  display: flex;
  gap: 20px;
}

.inputBox{
display: flex;
flex-direction: column;
margin-bottom: 10px;
width: 50%;
padding: 10px;

}
.formBox .row100 .inputBox{
  width: 100%;
}

.inputBox span{
  color: #04086B;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.inputBox input{
  padding:10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}

.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 150px;
  margin-bottom: 5px;

}

.inputBox input[type="submit"]{
background: #04086B;
color: #fff;
border: none;
font-size: 1.1em;
max-width: 120px;
font-weight: 500;
cursor: pointer;
padding: 14px 15px;
}
.inputBox input[type="submit"]:hover{
  opacity: .4;
}


h1{
 
  text-align: center;
  padding: 0;
  margin: 20 0px;
}


/* info */

.info h3{
  color: #04086B;
  margin:15px;
}

.info .infoBox div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span{
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #00bfff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 5px;
}



.info .infoBox div a{
  color: #04086B;
  text-decoration: none;
  font-size: 1.1em;
}

.info .infoBox div a:hover{
color: black;
}

.map{
  padding: 0;
}

.map iframe{
  width: 100%;
  height: 100%;
}

