.model1 {
    position: fixed;
    width: 583px;
    height: 100%;
    left: 0px;
    top: 60px;
    align-items: center;
    background: #00BFFF;
}

.container1 {
    position: absolute;
    width: 400px;
    height: 500px;
    left: 70px;
    top: 100px;
    padding: 20px;
    line-height: 30px;
    background: #D9D9D9;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*------------------------------------------------------------------------------*/

.logo {
    position: absolute;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    left: 0px;
    top: -20px;
}

.topnav {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    align-items: center;
    z-index: 1;
    background: #04086B;
}

.topnav_container {
    padding: 10px;
}

.vprofile {
    position: absolute;
    width: 130.09px;
    height: 23.25px;
    left: 1269.88px;
    top: 10px;
    color: #00cc00;
}

.cpassword {
    position: absolute;
    width: 153.11px;
    height: 19.21px;
    left: 1269.88px;
    top: 30px;
    color: #00cc00;
}

.btn_logout {
    position: absolute;
    color: black;
    padding: 5px 8px;
    border: 1px;
    cursor: pointer;
    width: 6%;
    left: 1420px;
    top: 15px;
    background: #D9D9D9;
    border-radius: 30px;
}

.btn_logout:hover {
    background-color: #bbb6b6;
}


/*------drop_down-------------------------------------------------------*/

.dropbtn {
    position: absolute;
    left: 0px;
    top: -20px;
    background-color: #04086B;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    left: 100px;
    top: 5px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 20px;
    left: 10px;
    color: black;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: medium;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #bbb6b6
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:active .dropbtn {
    color: black;
}


/*---------------------------------------------------------------------------------*/

.supplier_name {
    position: absolute;
    width: 200px;
    height: 55px;
    top: 4px;
    left: 1100px;
    font-size: 20px;
}

.topnav .supplier_name label {
    position: absolute;
    left: 50px;
    top: 17px;
    color: #ffffff;
}

.img2 {
    position: absolute;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 50px;
    left: 50px;
}


/*----------place order, view order---------*/

.model2 {
    position: relative;
    width: 300px;
    height: 150px;
    left: 300px;
    top: 500px;
    line-height: 30px;
}

div.container2 {
    position: absolute;
    padding: 50px 25px;
    max-width: 500px;
    margin: auto;
    top: auto;
    left: auto;
}

div.model2 .container2 input {
    position: absolute;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    width: 250px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 0px 2px 8px #666666;
    -moz-box-shadow: 0px 2px 8px #666666;
    box-shadow: 0px 2px 8px #666666;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    background: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    opacity: 0.9;
}

div.model2 .container2 .btn1 {
    position: absolute;
    top: 15px;
}

div.model2 .container2 .btn2 {
    position: absolute;
    top: 85px;
}

.model2 .container2 input:hover {
    background: rgb(50, 48, 48);
    text-decoration: none;
}


/*-------------price index------------------------------------------------------*/

.model3 {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 500px;
    top: 220px;
    line-height: 30px;
    background: rgb(4, 8, 107, 0.6);
    border-radius: 20px;
}

.model3 .container4 {
    position: absolute;
    top: 3px;
    left: -4px;
}

.model3 .container4 .label1 {
    position: absolute;
    padding: 4px 4px;
    top: 20px;
    left: 25px;
    height: 20px;
    width: 250px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    border-radius: 15px;
}

.items {
    position: relative;
    top: 60px;
    left: 30px;
    width: 250px;
    height: 15vh;
    background-color: #00BFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}


/*------------split-----------------------------*/

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: -1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    width: 583px;
    background-color: black;
}

.right {
    right: 0;
    width: 955px;
}

.left1 .logo {
    position: absolute;
    left: -10px;
    top: -50px;
    width: 600px;
    height: 600px;
}


/*---------description---------------------*/

.description {
    position: absolute;
    top: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    left: 0px;
    z-index: 1;
    padding: 30px;
    line-height: 30px;
}


/*-----------background image-----------*/

.right img {
    position: absolute;
    z-index: -1;
    width: 955px;
    height: 750px;
    margin: auto;
    display: block;
}


/*--------Number of suppliers------------*/

.model4 {
    position: absolute;
    width: 300px;
    height: 200px;
    left: 100px;
    top: 220px;
    line-height: 30px;
    background: rgb(4, 8, 107, 0.6);
    border-radius: 20px;
}

.model4 .container4 {
    position: absolute;
    top: 3px;
    left: -4px;
}

.model4 .container4 .label1 {
    position: absolute;
    padding: 4px 4px;
    top: 20px;
    left: 25px;
    height: 20px;
    width: 250px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    border-radius: 15px;
}

.items {
    position: relative;
    top: 60px;
    left: 30px;
    width: 250px;
    height: 15vh;
    background-color: #00BFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}


/*charts*/

.graphBox {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    min-height: 300px;
    top: 900px;
}

.graphBox .box {
    position: relative;
    background: aliceblue;
    padding: 20px 0 0 0;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}