.img-bg {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    background-repeat: no-repeat;
    background-position: right top;
}

.form-container input[type=text],
input[type=date],
input[type=text] {
    width: 100%;
    height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form-container {
    top: 30px;
}