.main{
    /*z-index: -2;*/
}
.logo {
    position: absolute;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    left: 0px;
    top: -18px;
}

.topnav {
    position: fixed;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    align-items: center;
    background: #04086B;
}

.topnav_container {
    padding: 10px;
}

.vprofile {
    position: absolute;
    width: 130.09px;
    height: 23.25px;
    left: 1269.88px;
    top: 10px;
    color: #00cc00;
}

.cpassword {
    position: absolute;
    width: 153.11px;
    height: 19.21px;
    left: 1269.88px;
    top: 30px;
    color: #00cc00;
}

.btn_logout {
    position: absolute;
    color: black;
    padding: 5px 8px;
    border: 1px;
    cursor: pointer;
    width: 6%;
    left: 1420px;
    top: 15px;
    background: #D9D9D9;
    border-radius: 30px;
}

.dropbtn {
    background-color: #04086B;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 200px;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.dropdown {
    position: relative;
    left: 100px;
    top: 0px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:active .dropbtn {
    color: black;
}


/*---------------------------------------------------------------------------------*/

.supplier_name {
    position: absolute;
    width: 200px;
    height: 55px;
    top: 4px;
    left: 1100px;
    font-size: 20px;
}

.topnav .supplier_name label {
    position: absolute;
    left: 50px;
    top: 17px;
    color: #ffffff;
}

.img2 {
    position: absolute;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 50px;
    left: 50px;
}


/*-------------table-----------------------------*/

table {
    position: absolute;
    top: 100px;
    left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: #3498db;
    /*z-index: 0;*/
}

table td,
#orders th {
    border: 1px solid #ddd;
    padding: 12px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.table_content {
    position: relative;
    top: 70px;
}


/*------table button-------------------*/

.post-control-btn1 {
    border-radius: 28px;
    box-shadow: 0px 2px 3px #666666;
    font-family: Arial;
    color: black;
    font-size: 10px;
    font: bold 20px;
    background: #28c728;
    padding: 10px 18px 10px 20px;
    text-decoration: none;
    border-color: #28c728;
    /*z-index: 1;*/
}

.post-control-btn1:hover {
    background: #12fc0a;
    text-decoration: none;
}

.post-control-btn2 {
    border-radius: 28px;
    box-shadow: 0px 2px 3px #666666;
    font-family: Arial;
    color: black;
    font-size: 10px;
    background: red;
    padding: 10px 18px 10px 20px;
    text-decoration: none;
    border-color: red;
    z-index: 1;
}

.post-control-btn2:hover {
    background: #e35858;
    text-decoration: none;
}



/*-------background image-----*/

.img-bg {
    position: absolute;
    /*z-index: -1;*/
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    background-repeat: no-repeat;
    background-position: right top;
}